/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e97cc;
  border-radius: 10px;
}


html {
  scroll-behavior:smooth;
}


.accordion {
  background-color: #24242e;
  color: #9e97cc;
  cursor: pointer;
  padding: 26px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
  font-family: "Lucida Console";
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
}

.accordiongroups {
  background-color: #24242e;
  color: #9e97cc;
  cursor: pointer;
  padding: 26px;
  width: 100%;
  border: #9e97cc;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
  font-family: "Lucida Console";
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover, .accordiongroups:hover {
  background-color: #24242e;
  letter-spacing: 10px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
  background-color: #24242e;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 10px;
}

body {
  background-color: #1A1A27;
font-family: "Lucida Console";
  color: #9e97cc;
margin: auto;
width: 50%;
font-size: 20px;
line-height: 1.8;
}

h1 {
  font-size: 80px;
  color: #e0dcff;
}

h2 {
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  color: #c6bfe9;
}

h3 {
  font-family: Tahoma, sans-serif;
  letter-spacing: 3px;
  color: #c6bfe9;
}

#container {
  position : fixed;
top      : 35%;
right    : 80%;
padding:0%;
width: 15%;
height: 30%;
text-align: left;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 3px;
  background-color: #756F9A;
  margin: 10px;
  border-radius: 10px;
}

a:visited, a:hover, a:active, a:link {
  color: #756F9A;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

footer {
  font-size: 15px; 
}

img:not(.purgatorio) {
  border: solid, 5px, #756F9A;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(36, 36, 46);
  color: #9e97cc;
  background-color: rgba(36, 36, 46,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #24242e;
  color: #9e97cc;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  border: 2px solid #9e97cc;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #24242e;
  color: #9e97cc;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #24242e;
  color: #635f7c;
  font-size:15px;
}

.modal-button {
  background-color: #1A1A27;

  border: 2px solid #9e97cc;
  border-radius: 7px;
  text-align: center;
  
  font-size: 15px;
  font-family: "Lucida Console";
  padding: 15px 32px;
  margin: 4px 2px;
  display: inline-block;
  color: #c6bfe9;

}

.buttons {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons2 {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 70%;
  margin: auto;
}

.announcement {
  margin: auto;
  padding: 10px;
  text-align: center;
}